<ion-view title="Diary" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="diary-form10" class="list">
      <label class="item item-input" id="diary-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search food here">
      </label>
    </form>
    <div id="diary-container2">
      <ion-list id="diary-list21">
        <ion-item class="item-divider" id="diary-list-item-divider10"> Fluid</ion-item>
      </ion-list>
    </div>
    <div class="list card" id="diary-card23">
      <ion-item class="item-divider" id="diary-list-item-divider11"> Breakfast</ion-item>
      <div class="item item-body" id="diary-list-item-container7">
        <ion-list id="diary-list23">
          <ion-item id="diary-list-item12" ui-sref="searchResult">Apple</ion-item>
          <ion-item id="diary-list-item13">Item 2</ion-item>
          <ion-item id="diary-list-item16">Item 3</ion-item>
        </ion-list>
      </div>
      <ion-item class="item-divider" id="diary-list-item-divider12"> Lunch</ion-item>
      <div class="item item-body" id="diary-list-item-container8">
        <ion-list id="diary-list24">
          <ion-item id="diary-list-item24">Item 1</ion-item>
          <ion-item id="diary-list-item25">Item 2</ion-item>
          <ion-item id="diary-list-item26">Item 3</ion-item>
        </ion-list>
      </div>
      <ion-item class="item-divider" id="diary-list-item-divider13"> Dinner</ion-item>
      <div class="item item-body" id="diary-list-item-container9">
        <ion-list id="diary-list25">
          <ion-item id="diary-list-item27">Item 1</ion-item>
          <ion-item id="diary-list-item28">Item 2</ion-item>
          <ion-item id="diary-list-item29">Item 3</ion-item>
        </ion-list>
      </div>
      <ion-item class="item-divider" id="diary-list-item-divider14"> Snacks</ion-item>
      <div class="item item-body" id="diary-list-item-container10">
        <ion-list id="diary-list26">
          <ion-item id="diary-list-item33">Item 1</ion-item>
          <ion-item id="diary-list-item34">Item 2</ion-item>
          <ion-item id="diary-list-item35">Item 3</ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>