<ion-view title="Login" hide-nav-bar="true" id="page8">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 72px;"></div>
    <div>
      <img src="img/fLLcjuzTT6fCTahQe7Qe_2000px-NHS-Logo.svg.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form3" class="list">
      <div class="spacer" style="width: 300px; height: 57px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Username：</span>
          <input type="number" placeholder="NHS number">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password：</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 38px;"></div>
      <a ui-sref="tabsController.diary" id="login-button3" style="color:#FFFFFF;font-size:15px;" class="button button-positive  button-full">Sign in</a>
      <div id="login-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#909090;font-size:9px;">Can't login? </p>
      </div>
    </form>
    <div id="login-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#909090;font-size:9px;">Click [Sign in] button means you have read and agreed with the RFH agreement</p>
    </div>
  </ion-content>
</ion-view>